
{% extends "backbone.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
          <a href="\" class="">Home</a>
          <form action="search">
            <input type="text" name="search" placeholder="Search">
            <input type="submit">
          </form>
          <div id="grid" style="margin-left:15%">
            <table class="table-striped"style="width:80%;background:white">
              <tr>
                <th>Winner</th>
                <th>Loser</th> 
                <th>Winning Score</th>
                <th>Losing Score</th>
                <th>Tournament</th> 
                <th>Datetime</th>
              </tr>
              {% for d in data %}
              <tr align="center"> 
                {% for i in d %} 
                <th align="center">{{i}}</th> 
                {% endfor %}
              </tr> 
              {% endfor %} 
            </table>
          </div>
    </script>
{%endblock%}